.btn-primary {
  background-color: #30528a;
  border-color: #30528a;
}

.btn-primary:not(:disabled):not(.disabled):hover, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):focus, .btn-primary:not(:disabled):not(.disabled).active {
  background-color: #1b4487;
  border-color: #1b4487;
}

.btn-primary:not(:disabled):not(.disabled):focus {
  box-shadow: #0070d2;
}

a,
.btn-link {
  color: #30528a;
}

a:hover, a:active, a:focus, a.active,
.btn-link:hover,
.btn-link:active,
.btn-link:focus,
.btn-link.active {
  color: #1b4487;
}

.o_field_widget.o_field_many2one .o_external_button {
  color: #30528a;
}

.o_field_widget.o_field_many2one .o_external_button:hover, .o_field_widget.o_field_many2one .o_external_button:active, .o_field_widget.o_field_many2one .o_external_button:focus, .o_field_widget.o_field_many2one .o_external_button.active {
  color: #1b4487;
}

.o_form_view .oe_button_box .oe_stat_button .o_button_icon,
.o_mail_systray_item .o_mail_systray_dropdown .o_mail_systray_dropdown_top .o_filter_button:hover,
.o_mail_systray_item .o_mail_systray_dropdown .o_mail_systray_dropdown_top .o_filter_button.active,
.o_form_view .o_form_uri,
.o_form_view .o_horizontal_separator {
  color: #30528a;
}

.o_form_view .oe_button_box .oe_stat_button .o_button_icon:hover, .o_form_view .oe_button_box .oe_stat_button .o_button_icon:active, .o_form_view .oe_button_box .oe_stat_button .o_button_icon:focus, .o_form_view .oe_button_box .oe_stat_button .o_button_icon.active,
.o_mail_systray_item .o_mail_systray_dropdown .o_mail_systray_dropdown_top .o_filter_button:hover:hover,
.o_mail_systray_item .o_mail_systray_dropdown .o_mail_systray_dropdown_top .o_filter_button:hover:active,
.o_mail_systray_item .o_mail_systray_dropdown .o_mail_systray_dropdown_top .o_filter_button:hover:focus,
.o_mail_systray_item .o_mail_systray_dropdown .o_mail_systray_dropdown_top .o_filter_button:hover.active,
.o_mail_systray_item .o_mail_systray_dropdown .o_mail_systray_dropdown_top .o_filter_button.active:hover,
.o_mail_systray_item .o_mail_systray_dropdown .o_mail_systray_dropdown_top .o_filter_button.active:active,
.o_mail_systray_item .o_mail_systray_dropdown .o_mail_systray_dropdown_top .o_filter_button.active:focus,
.o_mail_systray_item .o_mail_systray_dropdown .o_mail_systray_dropdown_top .o_filter_button.active.active,
.o_form_view .o_form_uri:hover,
.o_form_view .o_form_uri:active,
.o_form_view .o_form_uri:focus,
.o_form_view .o_form_uri.active,
.o_form_view .o_horizontal_separator:hover,
.o_form_view .o_horizontal_separator:active,
.o_form_view .o_horizontal_separator:focus,
.o_form_view .o_horizontal_separator.active {
  color: #1b4487;
}

.o_searchview .o_searchview_facet {
  border-color: #0070d2;
  background: #FFF;
}

.o_searchview .o_searchview_facet .o_searchview_facet_label {
  background-color: #0070d2;
}

.o_searchview .o_searchview_autocomplete li.o-selection-focus {
  background-color: #30528a;
}

.o_required_modifier.o_input,
.o_required_modifier .o_input {
  background-color: rgba(0, 112, 210, 0.1) !important;
}

.dropdown-menu {
  border-radius: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
  background-color: rgba(0, 112, 210, 0.1);
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
  background-color: #30528a;
  border-color: #30528a;
}

.ui-autocomplete .ui-menu-item.ui-state-focus:not(:disabled):not(.disabled):hover, .ui-autocomplete .ui-menu-item.ui-state-focus:not(:disabled):not(.disabled):active, .ui-autocomplete .ui-menu-item.ui-state-focus:not(:disabled):not(.disabled):focus, .ui-autocomplete .ui-menu-item.ui-state-focus:not(:disabled):not(.disabled).active {
  background-color: #1b4487;
  border-color: #1b4487;
}

.ui-autocomplete .ui-menu-item.ui-state-focus:not(:disabled):not(.disabled):focus {
  box-shadow: #0070d2;
}

.ui-autocomplete .ui-menu-item.o_m2o_dropdown_option > a {
  color: #30528a;
}

html .o_loading {
  height: 3px;
  width: 100%;
  overflow: hidden;
  background-color: #ddd;
  padding: 0;
  top: 0;
}

html .o_loading:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 3px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}
