.btn,
.o_input,
.dropdown-menu {
  border-radius: $main-radius / 4;
}

.o_form_view {
  .oe_button_box {
    margin-left: -42px;
    margin-right: -42px;
    .oe_stat_button {
      .o_button_icon {
        color: $o-community-color;
      }
    }
  }
}

.o_field_widget {
  &.o_field_many2one .o_external_button {
    color: $o-community-color;
  }
}

.o_required_modifier {
  &.o_input, .o_input {
    background-color: $required-color !important;
  }
}

.btn {
  text-transform: uppercase;
}

.btn-primary {
  background: $o-community-color;
}

.btn i.fa {
  margin-right: 4px;
}
//.btn-group > .btn:active,
//.btn-group > .btn.active {
//  z-index: unset;
//}
html body.o_web_client > .o_main .o_main_content .o_control_panel .btn-group > .btn.btn-primary {
  color: white;
}

.o_control_panel {
  .o_cp_right {
    .o_cp_pager {
      .o_pager {
        background: rgba(0,0,0,0.05);
        border-radius: 4px;
        padding: 0 4px;
        .btn {
          background: unset;
        }
      }
    }
  }
}

.btn-secondary {
  color: $o-community-color;
  border: unset;
  background: transparent;
  font-weight: 600;
}

.sf_line {
    position: fixed;
    width: 100%;
    height: 1px;
    background: #FFF;
    top: 52px;
}

.tooltip-inner {
  box-shadow: unset !important;
  font-size: 1.1rem;
  font-family: $main-font;
}