.btn,
.o_input,
.dropdown-menu {
  border-radius: $main-radius / 4;
}

.o_form_view {
  .oe_button_box {
    margin-left: -42px;
    margin-right: -42px;
    box-shadow: inset 0 -1px 0 #eee;
    .oe_stat_button {
      .o_button_icon {
        color: $o-community-color;
      }
    }
  }
}

.o_field_widget {
  &.o_field_many2one .o_external_button {
    color: $o-community-color;
    font-size: 1.2rem;
    background-color: unset;
    margin: 0;
    padding: 0 6px !important;
  }
}

.o_required_modifier {
  &.o_input, .o_input {
    background-color: $required-color !important;
  }
}

.btn {
  text-transform: normal;
}

.btn-primary {
  background: $o-community-color;
    background-image: linear-gradient(to right, #007bff , $o-community-color);
    border: transparent;
    padding: 6px 24px;
    border-radius: 3px;
    transition: 0.5s;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}

.btn i.fa {
  margin-right: 4px;
}
//.btn-group > .btn:active,
//.btn-group > .btn.active {
//  z-index: unset;
//}
html body.o_web_client > .o_main .o_main_content .o_control_panel .btn-group > .btn.btn-primary {
  color: white;
}

.o_control_panel {
  .o_cp_right {
    .o_cp_pager {
      .o_pager {
        background: rgba(0,0,0,0.05);
        border-radius: 4px;
        padding: 0 4px;
        .btn {
          background: unset;
        }
      }
    }
  }
}

.btn-secondary {
  color: $o-community-color;
  border: unset;
    background-color: #EEE;
  font-weight: 600;
    padding: 6px 12px;
    border-radius: 3px;
    color: #555;
}

.sf_line {
    position: fixed;
    width: 100%;
    height: 1px;
    background: #FFF;
    top: 52px;
}

.tooltip-inner {
  box-shadow: unset !important;
  font-size: 1.1rem;
  font-family: $main-font;
}

.custom-control-label::before,
.custom-control-label::after {
    width: 1.2rem;
    height: 1.2rem;
}
.custom-control.custom-checkbox .custom-control-input:not(:checked):not(:indeterminate) ~ .custom-control-label:before {
    outline:none;
}

.modal.o_technical_modal .modal-content {
    border-radius: 6px;
}