header {
  border-bottom: 3px solid #00a1e2;
  border-top: 3px solid #eee;

  .o_main_navbar {
    height: $navbar-height;
    //border-bottom-color: $navbar-border;
    border-bottom: unset;
    background-color: $navbar-bg;
    color: $navbar-color;
    //box-shadow: $shadow-light;
    padding: 0 12px;
    z-index: 1000;

    .show {
      .dropdown-toggle {
        background-color: $navbar-bg-hover;
      }
    }

    .sf_top_nav {
      height: $navbar-height / 2;
      overflow: hidden;

      .logo {
        max-height: $navbar-height / 2;
      }
    }

    .o_menu_apps {
      > li {
        > a {
          padding: 0 18px;
        }
      }
    }

    // Menu dropdown multi level styles
    .o_menu_sections {
      .dropdown-menu {
        &.show {
          overflow: unset;
        }
      }

      .sf_dropdown {
        &:hover {
          > .sf_dropdown_menu {
            display: block;
            opacity: 1;
          }
        }

        > .sf_menu_open_dropdown {
          padding: 4px 20px;

          &::after {
            content: "\f105";
            font: normal normal normal 14px/1 FontAwesome;
            position: absolute;
            right: 8px;
            top: 6px;
          }
        }

        .sf_dropdown_menu {
          left: 99%;
          top: 0;
          opacity: 0;
          border-radius: $main-radius;
          margin-left: 2px;
          margin-top: -1px !important;
        }
      }
    }

    // End - Menu dropdown multi level styles

    & > ul {
      & > li {

        & > a,
        & > label {
          color: $navbar-color;

          &::before {
            content: '' !important;
            background: #094fbe;
            display: block;
            font-size: 0;
            position: absolute;
            height: 3px;
            width: 100%;
            left: 0;
            bottom: -3px;
            opacity: 0;
          }

          &:hover,
          &:active,
          &:focus {
            background-color: $navbar-bg-hover;
            //border-bottom: 2px solid;

            &::before {
              opacity: 1;
            }
          }


          .sf_menu {
            font-size: 1.6rem;
            line-height: 2.6;
          }
        }
      }
    }
  }
}
