html {
  body.o_web_client {
    font-family: $main-font;
    font-size: $main-fontsize;
    letter-spacing: -0.2px;

    &>.o_main, &>.o_action_manager {
      background-image: url('/sf_layout/static/src/img/bg.png');
      background-size: 100%;
      background-position: top center;
      background-repeat: no-repeat;
      background-color: $main-bg;

      .o_main_content, .o_action {
        margin: 12px;
        box-shadow: $shadow-light;
        border-radius: $main-radius;
        background-color: $content-bg;

        .o_control_panel, .o_cp_controller {
          border-radius: $main-radius $main-radius 0 0;
          background-color: #f3f2f2;
          //background-image: url('/sf_layout/static/src/img/cp-bg.png');
          background-size: 60px;
          border-bottom-color: #ddd;

          .breadcrumb {
            background-color: transparent;
            font-weight: 600;
            font-size: 1.2rem;
            margin-bottom: 8px;
          }

          .o_searchview {
            border-radius: $main-radius;
            .o_searchview_input_container {
              .o_searchview_facet {
                border-radius: $main-radius/1.5;
              }
            }
          }

          .btn-group>.btn {
            border-radius: $main-radius;
            color: #454545;
            text-transform: uppercase;
            font-size:0.9rem;
          }
        }

        @include media-breakpoint-down(sm) {
          overflow: auto;

          .o_content {
            overflow: auto;
          }
        }
        .o_content {
          border-radius: $main-radius;
        }
      }
    }
  }
}