html {
  body.o_web_client {
    font-family: $main-font;
    font-size: $main-fontsize;

    & > .o_main {
      background-image: url('/sf_layout/static/src/img/bg.png');
      background-size: 100%;
      background-position: top center;
      background-repeat: no-repeat;
      background-color: $main-bg;

      .o_main_content {
        margin: 12px;
        box-shadow: $shadow-light;
        border-radius: $main-radius;
        background-color: $content-bg;

        .o_control_panel {
          border-radius: $main-radius $main-radius 0 0;
          background-color: #f3f2f2;
          background-image: url('/sf_layout/static/src/img/cp-bg.png');
          background-size: 120px;
          border-bottom-color: #ddd;

          .breadcrumb {
            background-color: transparent;
            font-weight: 600;
            font-size: 1.2rem;
            margin-bottom: 8px;
          }

          .o_searchview {
            border-radius: 0;
          }

          .btn-group > .btn {
            border-radius: 0;
            color: #666;
            text-transform: uppercase;
          }
        }

        .o_content {
          border-radius: $main-radius;
        }
      }
    }
  }
}
