//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap&subset=vietnamese');
//@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&display=swap&subset=vietnamese');

$shadow-light: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);

$navbar-bg: #FFF;
$navbar-border: #FFF;
$navbar-height: 46px;
$navbar-color: #333;
$navbar-bg-hover: rgba(0, 112, 210, 0.1);

$content-bg: #fafafa;
$main-radius: .15em;
$main-bg: #b0c4df;
$main-font: "Open Sans", "Helvetica", "Verdana", "Arial", sans-serif;
$main-fontsize: 1.1rem;

$required-color: #E8EAF6;

// List view
$table-cell-padding: 0.5rem;